@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body {
    background-color: #003a70;
}

h1 {
    color: #ffcb05;
}

.pokemon-logo {
    width: 25%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 15px;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#pokemon-id {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.search-btn {
    background-color: #3d7dca;
    color: 	#ffcb05;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 455px;
    background-color: #3d7dca;
    border: 2px solid #ffcb05;
    padding: 10px;
    border-radius: 5px;
}

.description img {
    width: 100%;
}

.name {
    color: #ffcb05;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.description p {
    text-align: center;
    padding: 5px;
    color: #ffcb05;
    font-weight: 500;
    font-size: 18px;
}

.error {
    color: crimson;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}